/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header,menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}
/** BEGIN **/
body
{
    font-family: "RobotoDraft","Roboto",sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #f9f9f9;
}

nav
{
    height: 40px;
    background-color: #0091EA;
    font-size: 1.2rem;
    line-height: 150%;
    margin-bottom: 5px;
    overflow:hidden;
}
nav ul li
{
    display: inline-block;
    text-align: center;
    height: 30px;
    padding: 5px;
}
nav a
{
    color: #FFF;
    font-weight: 500;
}

nav ul li:hover
{
    background-color: #006db0;
}

div.footer-before
{
margin-bottom: 35px;
}
footer
{
    position:fixed;
    bottom:0;
    width: 100%;
    height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 150%;
    background-color: #CFD8DC;
}

footer b
{
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

footer .footer-credit
{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 170%;
    margin-right: 5px;
}

footer a
{
    color: #FFF;
}

/** MAIN CONTENT **/
h1
{
    font-size: 2.5rem;
    font-weight: 500;
}
article
{
    display: table;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #DDD;
    border-radius: 3px;
    padding: 10px;
}
article.widget a
{
    color: #000;
}

article.widget ul
{
    line-height: 150%;
}

.fa
{
    margin-right: 5px;
}
article p
{
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 150%;
    text-align: justify;
}

article ul li
{
    font-size: 1.2rem;
}
article p a
{
    font-weight: 800;
    color: inherit;
}
article a:hover
{
    color: #FFF;
}
article h2
{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: 500;
}
article p.icon-block
{
    font-size: 3.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.responsive-video
{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 700px;
}

article p.icon-block a.icon
{
    display: inline-block;
    width: 20%;
}

article p b
{
    font-weight: 800;
}

article form
{
    margin-top: 20px;
    width: 100%;
    font-size: 1.3rem;
}
article form textarea,
article form input[type="text"], article form input[type="email"]
{
    width: 100%;
}

article form input, article form textarea
{
    font-size: 1.2rem;
}

@media only screen and (min-width: 685px)
{
    article p.icon-block
    {
        text-align: center;
    }
}

@media only screen and (min-width: 800px)
{
    article form textarea,
    article form input[type="text"],
    article form input[type="email"]
    {
        width: 650px;
    }

    article form .peter-river-flat-button
    {
        display: inline-block;
        margin-left: 10.7em;
        width: 650px;
    }

}
@media only screen and (max-width: 800px)
{
    footer
    {
        font-size: 0.8rem;
    }

    footer .footer-credit
    {
        line-height: 240%;
    }
}

/** "Hack" to counter text-align:right between 480px and 983px of pure-css **/
@media only screen and (min-width: 479px) and (max-width: 984px)
{
    label
    {
        text-align:left!important;
    }
}

@media only screen and (min-width: 1000px)
{
    article.widget
    {
        display: inline-block;
        max-width: 350px;
        min-height: 186px;
        margin-left:0;
    }
    section.widget-container
    {
        width: 91%;
        margin-left: auto;
        margin-right: auto;
    }

    article p.icon-block
    {
        font-size: 4rem;
    }

    article p.icon-block a.icon
    {
        width: 10%;
    }
}
@media only screen and (min-width: 1300px)
{
    article p.icon-block a.icon
    {
        width: 10%;
    }

    article p.icon-block
    {
        font-size: 5rem;
    }

    article p.icon-block a.icon
    {
        width: 10%;
    }
}

/* #Peter River Flat Button
* taken from http://cssdeck.com/labs/beautiful-flat-buttons
==================================================*/
.peter-river-flat-button {
    /*position: relative;*/
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    border-bottom: 2px solid #2a8bcc;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #2a8bcc;
    box-shadow: inset 0 -2px #2a8bcc;
}
.peter-river-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}


