{% extends "layout/default" %}

{% block title %}
    <title>À propos</title>
{% endblock %}

{% block content %}
    <article>
        <h2>À propos</h2>
        <p>
           Les sources du site sont accessibles sur <a href="//github.com/thomasmunoz13/me">Github</a>
        </p>
        <p>
            Ce site a été conçu avec <a href="//github.com/thomasmunoz13/sframework">SFramework</a>
            (créé par <a href="//git.loick.fr/">Loïck Mahïeux</a>, <a href="//github.com/SKNZ">Floran Narenji</a> et <a
                    href="//github.com/thomasmunoz13">moi-même</a>) avec un peu de Javascript
            (<a href="//angularjs.org/">AngularJS</a>)
        </p>
    </article>
{% endblock %}
