{% extends "layout/default" %}

{% block title %}
    <title>Connaissances</title>
{% endblock %}

{% block content %}
    <article>
        <h2>Langages</h2>
        <p>
            Voici quelques langages dans lesquels j'ai pu m'exercer lors de projets
            scolaires ou non, vous trouverez, pour chaque langage présenté un lien vers
            un projet qui illustre l'utilisation que j'ai pu en faire (ou pas s'il n'y a
            pas de projet disponible en ligne)
        </p>

        <p class="icon-block">

            <a href="//github.com/SKNZ/awayfromswag" class="icon" title="HTML5"><i class="icon-html"></i></a>
            <a href="//github.com/SKNZ/awayfromswag" class="icon" title="CSS3"><i class="icon-css"></i></a>
            <a href="//github.com/SKNZ/amudrive" class="icon" title="Javascript/AngularJS"><i class="icon-javascript"></i></a>
            <a href="//github.com/thomasmunoz13/sframework" class="icon" title="PHP 5.6"><i class="icon-php-alt"></i></a>

            <a href="//github.com/thomasmunoz13/CatchMe" class="icon" title="C++"><i class="icon-cplusplus"></i></a>
            <a href="" class="icon" title="Java 8"><i class="icon-java"></i></a>
            <a href="" class="icon" title="BASH Script"><i class="icon-script"></i></a>
        </p>
    </article>
    <article>
        <h2>Outils</h2>
        <p>
            Voici quelques outils/technologies que j'ai pu utiliser, que j'utilise ou pour lesquels je porte un grand
            intérêt.
        </p>
        <p class="icon-block">
            <a class="icon" href="//httpd.apache.org/"><i class="icon-apache"></i></a>
            <a class="icon" href="//nginx.org/"><i class="icon-nginx"></i></a>
            <a class="icon" href="//www.debian.org/index.fr.html"><i class="icon-debian"></i></a>
            <a class="icon" href="//www.apple.com/fr/osx/"><i class="icon-osx"></i></a>
            <a class="icon" href="//windows.microsoft.com/fr-fr/windows/home"><i class="fa fa-windows"></i></a>
            <a class="icon" href="//www.apple.com/"><i class="fa fa-apple"></i></a>
            <a class="icon" href="//www.mysql.com/"><i class="icon-mysql"></i></a>
            <a class="icon" href="//www.oracle.com/technetwork/developer-tools/sql-developer/overview/index.html">
                <i class="icon-oracle"></i>
            </a>
            <a class="icon" href="//www.postgresql.org/"><i class="icon-postgres"></i></a>
            <a class="icon" href="//redis.io/"><i class="icon-redis"></i></a>
            <a class="icon" href="//nodejs.org/"><i class="icon-nodejs"></i></a>
        </p>
    </article>
{% endblock %}