{% extends "layout/default" %}
{% block title %}
    <title>Contact</title>
{% endblock %}

{% block content %}
    <article>
        <h2>Contact</h2>
        <p>
            Si vous souhaitez me proposer un projet qui pourrait m'interesser, me demander une information,
            me signaler un problème lors de votre navigation sur le site ou même pour m'écrire un joli mot,
            c'est à vous !<br/>
            <b>Les champs marqués d'un * sont obligatoires </b>
            (principalement pour pouvoir vous recontacter si c'est nécessaire)
        </p>
        <form action="/send" method="POST" class="pure-form pure-form-aligned">

            <div class="pure-control-group">
                <label for="firstname">Prénom</label>
                <input type="text" name="firstname" placeholder="Votre prénom"/>
            </div>

            <div class="pure-control-group">
                <label for="lastname">Nom</label>
                <input type="text" name="lastname" placeholder="Votre nom"/>
            </div>

            <div class="pure-control-group">
                <label for="mail">Mail</label>
                <input type="email" name="mail" placeholder="Votre adresse mail" required/>
            </div>

            <div class="pure-control-group">
                <label for="message">Message</label>
                <textarea name="message" id="" cols="30" rows="10" placeholder="Votre message" required></textarea>
            </div>
            <button type="submit" class="peter-river-flat-button">Envoyer !</button>
        </form>
    </article>
{% endblock %}