{% extends "layout/default" %}

{% block title %}
    <title>Thomas Munoz</title>
{% endblock %}

{% block content %}
<article>
    <h1>Thomas Munoz</h1>
    <span>Développeur web PHP/JS</span>
    <p>
        Je suis actuellement en DUT Informatique à Aix-en-Provence et je suis passionné par le web et les nouvelles
        technologies. <br/>
        Mon intérêt se porte tout particulièrement sur les langages de programmation web côté serveur (PHP, NodeJS) et
        côté client (Javascript avec AngularJS et jQuery). <br/>
        Si vous souhaitez en savoir un peu plus sur les technologies/langages que je maitrise et/ou utilise,
        <a href="/connaissances">c'est par ici que ça se passe !</a>
    </p>
</article>
<section class="widget-container">
    <article class="widget" data-ng-controller="GithubController">
        <h2><i class="fa fa-github"></i>Mes dernières réalisations</h2>
            <ul>
                <li data-ng-repeat="repo in repos" data-ng-cloak>
                    <i class="fa fa-folder"></i>
                    <a href="https://github.com/{[{repo.fullname}]}">{[{ repo.name }]}</a>
                </li>
                <li  data-ng-repeat-end></li>
            </ul>
    </article>
    <article class="widget">
        <h2><i class="fa fa-users"></i>Sur les réseaux sociaux</h2>
        <ul>
            <li><i class="fa fa-twitter"></i><a href="https://twitter.com/thomasmunoz">Twitter</a></li>
            <li><i class="fa fa-linkedin"></i><a href="http://fr.linkedin.com/in/thomasmunoz13">Linkedin</a></li>
            <li><i class="fa fa-spotify"></i><a href="http://open.spotify.com/user/thomas0372">Spotify</a></li>
            <li><i class="fa fa-film"></i><a href="http://www.senscritique.com/thomasmunoz13">SensCritique</a></li>
            <li><i class="fa fa-film"></i><a href="http://www.betaseries.com/membre/thomas0372/series">Betaseries</a></li>
        </ul>
    </article>
</section>
{% endblock %}
