{% extends "layout/default" %}

{% block title %}
    <title>Message envoyé</title>
{% endblock %}

{% block content %}
    <article>
        <h2>Message envoyé</h2>
        <p>
           Votre message a bien été envoyé, vous recevrez une réponse dans les plus brefs délais <br/>
           <b><a href="/">Cliquez ici pour revenir à l'accueil</a></b>
        </p>
    </article>
{% endblock %}