<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="description" content="Bienvenue sur le site de Thomas Munoz, étudiant en DUT Informatique 
        et passionné par les langages web côté serveur (PHP, NodeJS ...)">
    {% block title %}
  
    {% endblock %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {{ helpers.assets.css('font-mfizz') }}
    {{ helpers.assets.css('style') }}
    {{ helpers.assets.css('pure-form-min') }}
</head>
<body data-ng-app="MyWebsite">
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/connaissances">Connaissances</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
        {% block content %}

        {% endblock %}
    <div class="footer-before"></div>
    <footer>
        <b>2015</b> - <a href="/about">À propos</a>
        <span class="footer-credit">Propulsé par <a href="//github.com/thomasmunoz13/SFramework">SFramework</a></span>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-resource.min.js"></script>
    {{ helpers.assets.js('min') }}
   </body>
</html>
