{% extends "layout/default" %}

{% block content %}
    <article>
        <h1>Erreur 404</h1>
        <p>
            Désolé mais cette page n'existe pas, si vous souhaitez continuer votre visite sur ce site,
            vous pouvez toujours revenir à l'accueil <a href="/me">par ici !</a><br/>
            Ou bien regarder cette vidéo (et revenir à l'accueil juste après, tout est possible !) :
        </p>
        <iframe class="responsive-video" src="https://www.youtube.com/embed/Nz6Jb6N5XYE"
                frameborder="0" allowfullscreen></iframe>
    </article>
{% endblock %}